<div class="container-fluid" data-bind="if: brew">
    <div class="page-header">
        <h1>Brewing <span data-bind="text: brew().name"></span></h1>
    </div>
    <div class="row">
        <div class="col-md-7">
            <table class="table table-condensed table-striped">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Step</th>
                        <th>Actions</th>
                        <th>Finish criteria</th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: steps">
                    <tr data-bind="css: { 'text-muted': $parent.brew().step > $index(), success: $parent.brew().step > $index(), info: $parent.brew().step === $index(), warning: $parent.brew().step < $index() }">
                        <td data-bind="text: $index, style: { 'font-weight': $parent.brew().step === $index() ? 'bold' : 'normal' }"></td>
                        <td data-bind="text: name, style: { 'font-weight': $parent.brew().step === $index() ? 'bold' : 'normal' }"></td>
                        <td>
                            <ul data-bind="foreach: actions">
                                <li>
                                    <!-- ko if: type === 'SetTemperature' -->
                                        Setting temperature of <strong data-bind="text: input"></strong> to <strong data-bind="text: temperature"></strong>&deg;
                                    <!-- /ko -->

                                    <!-- ko if: type === 'SetPins' -->
                                        Activating <span data-bind="outputList: outputs"></span>
                                    <!-- /ko -->

                                    <!-- ko if: type === 'SetTimer' -->
                                        Setting <strong data-bind="text: timer"></strong> to <strong data-bind="text: timeout"></strong> minutes
                                    <!-- /ko -->
                                </li>
                            </ul>
                        </td>
                        <td>
                            <ul data-bind="foreach: criteria">
                                <li>
                                    <!-- ko if: type === 'AwaitUser' -->
                                        <span data-bind="visible: !$data.fullfilled">
                                            <strong data-bind="text: $data.question"></strong>
                                            <button class="btn btn-success btn-xs" data-bind="click: $parents[1].userOkay.bind($data, $index()), visible: $parents[1].brew().step === $parentContext.$index()">Yes</button>
                                        </span>
                                        <span data-bind="visible: $data.fullfilled">
                                            User has confirmed
                                        </span>
                                    <!-- /ko -->

                                    <!-- ko if: type === 'AwaitTemperature' -->
                                        <span data-bind="visible: !$data.fullfilled">
                                            <strong data-bind="text: input"></strong> must be <strong data-bind="text: temperature"></strong>&deg;
                                        </span>
                                        <span data-bind="visible: $data.fullfilled">
                                            <strong data-bind="text: input"></strong> has reached <strong data-bind="text: temperature"></strong>&deg;
                                        </span>
                                    <!-- /ko -->

                                    <!-- ko if: type === 'AwaitTimer' -->
                                        <span data-bind="visible: !$data.fullfilled">
                                            <strong data-bind="text: timer"></strong> must expire
                                        </span>
                                        <span data-bind="visible: $data.fullfilled">
                                            <strong data-bind="text: timer"></strong> has expired
                                        </span>
                                    <!-- /ko -->
                                </li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h2>Description</h2>
            <p data-bind="text: brew().description"></p>
        </div>
        <div class="col-md-5">
            <status></status>
        </div>
    </div>
</div>
