<nav class="navbar navbar-default" role="navigation">
  <div class="container">

    <div class="navbar-header">
      <span class="navbar-brand">Sad Robot Brewing</span>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li data-bind="css: { active: page() === 'status' }"><a href="#">Status</a></li>
        <li data-bind="css: { active: page() === 'programs' }"><a href="#/programs">Programs</a></li>
      </ul>
    </div>
    
  </div>
</nav>

<div class="container">
  <div class="row" id="viewContainer">
    <!-- Where views are loaded... -->
  </div>
</div>
